.hey{
    color: darkblue;
    font-size: 42px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 200px;
}
.Niki{
    color:cadetblue;
    font-size: 50px;
    font-family: cursive;
    margin-top: 150px;
}
.max{
    border: 4px solid indianred;
    width: 145px;
    padding: 4px;
    background-color: mediumaquamarine ;
}
.Whole{
    background-color: olive;
}